* {box-sizing: border-box;}
html {height: 100%; margin: 0;}

a {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: #E89F0C;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

body {
    height: 100%;
    margin:0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url("../images/background.png");
}

nav {
    background-color: white;
    border-bottom: #cccccc solid 2px;
    width: 100%;
    margin: 0;
    overflow: auto;
}

header {
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 10px 20px;
    margin-left: 20%;
}
header:hover {
    background-color: #E89F0C;
}

#links {
    float: right;
    margin: 20px;
    padding: 10px;
    margin-right: 20%;
 
}

#links a {
    padding: 0 5px;
}

.pipe {
    padding-right: 10px;
    border-right: #cccccc 1px solid;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

img {
    float: left;
    border: #cccccc solid 2px;
    margin-right: 20px;
}

.container {
    margin: 30px 20%;
    background-color: white;
    padding: 20px;
    overflow: auto;
    line-height: 1.8;  
    border: #cccccc solid 1pt;
}

.footer {
    width: 100%;
    background-color: #4aaaa5;
    height: 60px;
    position: relative;
}

.footer,
.push {
    height: 60px;
}

#copyright {
    text-align: center;
    background-color: #777777;
    display: block;
    color: #cccccc;
    padding-top: 30px;
    padding-bottom: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: 10pt;    
}

#about-me {
    color: #4aaaa5;
    border-bottom: #cccccc 2px solid;
    margin-bottom: 20px;

}

/* PORTFOLIO PAGE TARGETED */

.img-container {
    /* border-bottom: red 10px solid; */
    float: left;
    overflow: auto;
    width: 224px;
    margin: 10px;
    position: relative;
    line-height: 1;
}

.img-banner {
    position: absolute;
    margin: auto;
    width: 224px;
    height: 20%;
    bottom: 20px;
    left: 0;
    float: inherit;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    line-height: 3;
}

.img-banner:hover {
    background-color: #E89F0C;
}

/* CONTACT PAGE TARGETED */

input,
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
color: white;
background-color: #4aaaa5;
height: 30px;
width: 90px;
}

button:hover {
    background-color: #E89F0C;
}
